<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxws="http://cxf.apache.org/jaxws" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
	http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
	
	   <!-- 引cxf的一些核心配置 -->
	   <import resource="classpath:META-INF/cxf/cxf.xml" /> 
	   <import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	   <import resource="classpath:META-INF/cxf/cxf-servlet.xml" /> 
	  	
	   <!-- jaxws 终端  implementor 指定服务的实现类 -->
	   <jaxws:endpoint id="helloWorldService" implementor="com.erjiao.cxf.HelloWorldServiceImpl"
	   	  address="/HelloWorldService">
	   </jaxws:endpoint>
	   
	   <!-- jaxws 终端 -->
	   <jaxws:endpoint id="orderService" implementor="com.erjiao.cxf.OrderServiceImpl"
	   	  address="/OrderService">
	   	  <!-- 指定采用哪种数据绑定方式, 默认是jaxb绑定方式 -->
	   	  <jaxws:dataBinding>
	   	  	<!-- 使用jaxb数据绑定
	   	  		<bean class="org.apache.cxf.jaxb.JAXBDataBinding"></bean>
	   	  	-->
	   	  	 <!-- 使用aegis数据绑定 -->
	   	  	 <bean class="org.apache.cxf.aegis.databinding.AegisDatabinding"></bean>
	   	  </jaxws:dataBinding>
	   </jaxws:endpoint>
	   
</beans>